<div class="main">
    <div class="content-top">
        <h2>Reports</h2>
        <p>Report {{reportId}}</p>
        <div class="close_but"><i class="close1"> </i></div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table id="report_table" class="table table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                    <tr id="_header">

                    </tr>
                    </thead>
                    <tbody id="_columns">

                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>


    </div>

</div>
