
<div class="main">
    <div class="shop_top">
        <div class="container">
            <label>
                Search:
                <input ng-model="$ctrl.query"/>
            </label>
            <div class="row shop_box-top">

                <div class="col-md-3 shop_box" style="padding-bottom: 2em;" ng-repeat="product in products | filter:$ctrl.query">
                    <img src="{{product.photo}}" class="img-responsive" alt=""/>
                    <span ng-show="showBtn(product.userrId)" ng-click="updateProduct(product.productId)" class="new-box">
						<span class="new-label">Edit</span>
					</span>
                    <span ng-show="showBtn(product.userrId)" ng-click="deleteProduct(product.productId)" class="sale-box">
						<span class="sale-label">Delete</span>
					</span>
                    <div class="shop_desc">
                        <h3><a href="#!/product/{{product.productId}}">{{product.name}}</a></h3>
                        <p>{{product.description}} </p>
                        <span class="reducedfrom"></span>
                        <span class="actual">{{product.price}} (GTQ)</span><br>
                        <ul class="buttons">
                            <li class="cart"><a href="#">Add To Cart</a></li>
                            <li class="shop_btn"><a href="#">Read More</a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
