<div class="main">
    <div class="content-top">
        <h2>Reports</h2>
        <p>Reports on the System</p>
        <div class="close_but"><i class="close1"> </i></div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table id="reports_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>No</th>
                        <th>Report</th>
                        <th>x / y</th>
                        <th>inApp</th>
                        <th>PDF</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="report in reports track by report.no">
                        <td>{{ report.no }}</td>
                        <td>{{ report.name }}</td>
                        <td style="width: 80px;">
                            <input style="width: 100%" type="text" id="x_y_{{report.no}}"/>
                        </td>
                        <td>
                            <a class="btn pointer" ng-click="GoToInApp( report.no )">view</a>
                        </td>
                        <td>
                            <a class="btn pointer" ng-click="GoToPdf( report.no )">view</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>

</div>
