<div class="main">
    <div class="content-top">
        <h2>Chats</h2>
        <p>Chats on the System</p>
        <div class="close_but"><i class="close1"> </i></div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table id="conversations_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>User Helper</th>
                        <th>User Helped</th>
                        <th>Date</th>
                        <th>Valoration</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="conversation in conversations track by conversation.conversationId">
                        <td>
                            <a class="btn pointer" ng-click="GoToConversation( conversation.conversationId )">{{conversation.userMail2}}</a>
                        </td>
                        <td>
                            <a class="btn pointer" ng-click="GoToConversation( conversation.conversationId )">{{conversation.userMail}}</a>
                        </td>
                        <td>{{ conversation.querydate }}</td>
                        <td>{{ conversation.valoration }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>

</div>
