<div class="main">
    <div class="content-top">
        <h2>User</h2>
        <p>Edit User Data</p>
        <div class="close_but"><i class="close1"> </i></div>

        <form name="myForm" novalidate>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <input style="width: 90%;" name="user" type="text" class="text" placeholder="Name"
                           ng-model="user.name"
                           required>
                    <span class="alert" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                    <span ng-show="myForm.user.$error.required">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <span class="alert" ng-show="myForm.user.$dirty && myForm.user.$invalid">
                    <span ng-show="myForm.user.$error.required">Username is required.</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <input style="width: 90%;" name="lastname" type="text" class="text" placeholder="Last Name"
                           ng-model="user.lastname" required>
                    <span class="alert" ng-show="myForm.lastname.$dirty && myForm.lastname.$invalid">
                    <span ng-show="myForm.lastname.$error.required">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <span style="color:red" ng-show="myForm.lastname.$dirty && myForm.lastname.$invalid">
                    <span ng-show="myForm.lastname.$error.required">Last Name is required.</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label style="width: 25%;">Gender</label>
                    <select style="width: 58%;" id="gender" name="gender" ng-model="user.gender.genderId"  required>
                        <option ng-repeat="x in genders" ng-selected="x.genderId == user.gender.genderId" value="{{x.genderId}}">{{x.description}}</option>
                    </select>
                    <span style="color:red" ng-show="myForm.gender.$dirty && myForm.gender.$invalid">
                    <span ng-show="myForm.gender.$error.required">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <input style="width: 90%;" type="text" name="phone" class="text" placeholder="Phone"
                           ng-model="user.phone" required
                    >
                    <span class="alert" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
                    <span ng-show="myForm.phone.$error.required">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <span class="alert" ng-show="myForm.phone.$dirty && myForm.phone.$invalid">
                    <span ng-show="myForm.phone.$error.required">Phone Number required.</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>


            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <p style="width: 100%">
                        Birth Date
                    </p>
                    <input style="width: 90%; margin-right: 5%; margin-left: 5%" type="date" class="text" placeholder="Birth Date"
                           ng-model="user.birthdate">
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <input style="width: 90%;" type="text" name="address" class="text" placeholder="Address" ng-model="user.address" required>
                    <span class="alert" ng-show="myForm.address.$dirty && myForm.address.$invalid">
                    <span ng-show="myForm.address.$error.required">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <span class="alert" ng-show="myForm.address.$dirty && myForm.address.$invalid">
                    <span ng-show="myForm.address.$error.required">Address required.</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <input style="width: 90%;" name="password" type="password" class="text" placeholder="Password"
                           ng-model="user.password" required>
                    <span class="alert" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                    <span ng-show="myForm.password.$error.required">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>


            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <span class="alert" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                    <span ng-show="myForm.password.$error.required">Password required.</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>


            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-2">
                    <div class="form-submit" style="float: none;">
                        <input style="width: 100%;" type="submit" id="reset" ng-click="reset()" value="Reset">
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-submit" style="float: none;">
                        <input ng-disabled="myForm.$invalid" style="width: 100%;" type="submit" ng-click="send()" value="Update">
                    </div>
                </div>
                <div class="col-md-4"></div>
            </div>


        </form>

    </div>
</div>
