.row.my-comment.comment > .col-md-4.box{
    background-color: #e6e6e6;
}

.row.ex-comment.comment > .col-md-4.box{
    background-color: #a3a3a3;
}

.ex-comment-img{
    max-width: 3em;
    height: auto;
}

.my-comment-img{
    max-width: 3em;
    height: auto;
}

.comment{
    color: #101010;
    padding-bottom: 4px;
}

.box{
    border-radius: 5px;
}

.col-md-6.rt{
    text-align: right;
}

.mail-style{
    color: rgba(141, 29, 30, 0.88);
    font-size: 11px;
}

.comment-style{
    color: #222222;
}

.comment-date-style{
    color: rgba(141, 29, 30, 0.88);
    font-size: 9px;
    float: right;
}

.yellow{
    color: rgba(255,249,0,0.88);
    font-size: 0.60em;
}

.scrollable-window{
    height: 55vh;
    overflow: scroll;
}


