<div class="banner">
    <!-- start slider -->
<!--    <div id="fwslider">-->
<!--        <div class="slider_container">-->
<!--            <div class="slide">-->
<!--                &lt;!&ndash; Slide image &ndash;&gt;-->
<!--                <img src="./assets/images/slider1.jpg" class="img-responsive" alt=""/>-->
<!--                &lt;!&ndash; /Slide image &ndash;&gt;-->
<!--                &lt;!&ndash; Texts container &ndash;&gt;-->
<!--                <div class="slide_content">-->
<!--                    <div class="slide_content_wrap">-->
<!--                        &lt;!&ndash; Text title &ndash;&gt;-->
<!--                        <h1 class="title">Run Over<br>Everything</h1>-->
<!--                        &lt;!&ndash; /Text title &ndash;&gt;-->
<!--                        <div class="button"><a href="#">See Details</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; /Texts container &ndash;&gt;-->
<!--            </div>-->
<!--            &lt;!&ndash; /Duplicate to create more slides &ndash;&gt;-->
<!--            <div class="slide">-->
<!--                <img src="./assets/images/slider2.jpg" class="img-responsive" alt=""/>-->
<!--                <div class="slide_content">-->
<!--                    <div class="slide_content_wrap">-->
<!--                        <h1 class="title">Run Over<br>Everything</h1>-->
<!--                        <div class="button"><a href="#">See Details</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;/slide &ndash;&gt;-->
<!--        </div>-->
<!--        <div class="timers"></div>-->
<!--        <div class="slidePrev"><span></span></div>-->
<!--        <div class="slideNext"><span></span></div>-->
<!--    </div>-->
    <!--/slider -->
</div>
<div class="main">
    <div class="content-top">
        <h2>publishes and sells</h2>
        <p>buy and sell what you need.</p>
        <div class="close_but"><i class="close1"> </i></div>

        <script type="text/javascript">
            $(window).load(function () {
                $("#flexiselDemo3").flexisel({
                    visibleItems: 5,
                    animationSpeed: 1000,
                    autoPlay: true,
                    autoPlaySpeed: 3000,
                    pauseOnHover: true,
                    enableResponsiveBreakpoints: true,
                    responsiveBreakpoints: {
                        portrait: {
                            changePoint: 480,
                            visibleItems: 1
                        },
                        landscape: {
                            changePoint: 640,
                            visibleItems: 2
                        },
                        tablet: {
                            changePoint: 768,
                            visibleItems: 3
                        }
                    }
                });

            });
        </script>
        <script type="text/javascript" src="./assets/js/jquery.flexisel.js"></script>
    </div>
</div>
<div class="content-bottom">
    <div class="container">
        <div class="row content_bottom-text">
            <div class="col-md-7">
                <h3>Publishes<br>And Sells</h3>
                <h2 style="color:white">Mision</h2>
                <p class="m_1">Continuar a ofrecer productos de calidad y servicios utilizando la mejor tecnología disponible y aun precio razonable. Esto resulta en clientes altamente leales y a la misma vez manteniendo elinterés de los accionistas y las ganancias de la compañía en mente. También queremosexpandirnos geográficamente, aumentando el número de clientes y mantenernos mejorandonuestra ventaja competitiva ± infraestructura. Trabajando fuerte y divirtiéndonos buscamosofrecer el mejor ambiente en el trabajo a nuestros empleados, promocionando oportunidades decarreras y aumentar nuestra responsabilidad hacia el medio ambiente y la sociedad</p>
                <h2 style="color:white">Vision</h2>
                <p class="m_2">Nuestra visión es ser la compañía más enfocada en los clientes; construís un lugar donde la gente pueda venir a encontrar y descubrir cualquier cosa que comprar a través de la web.</p>
            </div>
        </div>
    </div>
</div>

