<div class="main">
    <div class="content-top">
        <h2>LogIn</h2>
        <p>Start Exploring</p>
        <div class="close_but"><i class="close1"> </i></div>

        <form name="myForm" novalidate>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <input style="width: 90%;" name="email" type="email" class="text" placeholder="Mail"
                           ng-model="mail" ng-click="clear()" required>
                    <span class="alert" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                    <span ng-show="myForm.email.$error.required">*</span>
                    <span ng-show="myForm.email.$error.email">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <span  class="alert" ng-show="myForm.email.$dirty && myForm.email.$invalid">
                    <span ng-show="myForm.email.$error.required">Email is required.</span>
                    <span ng-show="myForm.email.$error.email">Invalid email address.</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <input style="width: 90%;" name="password" type="password" class="text" placeholder="Password"
                           ng-model="password" ng-click="clear()" required>
                    <span class="alert" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                    <span ng-show="myForm.password.$error.required">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>


            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <span class="alert" ng-show="myForm.password.$dirty && myForm.password.$invalid">
                    <span ng-show="myForm.password.$error.required">Password required.</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>


            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-3 to">
                    <label style="text-align: center; width: 65%">{{text}}</label>
                </div>
                <div class="col-md-4"></div>
            </div>


            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <div class="form-submit" style="float: none;">
                        <input ng-disabled="myForm.$invalid" style="width: 100%;" type="submit" ng-click="logIn()" value="Log In">
                    </div>
                </div>
                <div class="col-md-5"></div>
            </div>


        </form>

    </div>
</div>
