<style>
    ul{
        list-style-type: none;
    }
    .one{
        background-image: url("assets/images/down.png");
        background-color: rgba(255,47,47,0.88);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
    }
    .two{
        background-image: url("assets/images/up.png");
        background-color: rgba(106,106,106,0.71);
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
    }

    #categories{
        height: 2vh;
    }
    
    a:hover{
        cursor: pointer;
    }
</style>
<script type="text/ng-template"  id="tree_item_renderer.html">
    <a ng-click="goTo(data.categoryId)" >{{data.description}}</a>
    <button class="one" ng-attr-id="{{'father_'+data.categoryId}}" ng-show="data.childs.length > 0" ng-click="showChilds(data.categoryId)"></button>
    <ul ng-attr-id="{{'childs_'+data.categoryId}}" hidden>
        <li ng-repeat="data in data.childs" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <h1>Categories</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div id="categories" class="col-md-8">
                    <ul>
                        <li ng-repeat="data in categories" ng-include="'tree_item_renderer.html'"></li>
                    </ul>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
</div>

