<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row">
                <div class="col-md-9 single_left">

                    <div class="single_image">
                        <ul id="etalage">
                            <li>
                                <a href="optionallink.html">
                                    <img class="etalage_thumb_image" src="{{product.photo}}" />
                                    <img class="etalage_source_image" src="{{product.photo}}" />
                                </a>
                            </li>

                        </ul>
                    </div>

                    <!-- end product_slider -->
                    <div class="single_right">
                        <h3>{{product.name}}</h3>
                        <p class="m_10">{{product.description}}</p>
                        <!--<ul class="options">
                            <h4 class="m_12">Select a Size(cm)</h4>
                            <li><a href="#">151</a></li>
                            <li><a href="#">148</a></li>
                            <li><a href="#">156</a></li>
                            <li><a href="#">145</a></li>
                            <li><a href="#">162(w)</a></li>
                            <li><a href="#">163</a></li>
                        </ul>
                        <ul class="product-colors">
                            <h3>available Colors</h3>
                            <li><a class="color1" href="#"><span> </span></a></li>
                            <li><a class="color2" href="#"><span> </span></a></li>
                            <li><a class="color3" href="#"><span> </span></a></li>
                            <li><a class="color4" href="#"><span> </span></a></li>
                            <li><a class="color5" href="#"><span> </span></a></li>
                            <li><a class="color6" href="#"><span> </span></a></li>
                            <div class="clear"></div>
                        </ul>-->
                        <div class="btn_form">
                            <form>
                                <input type="submit" value="buy now" title="">
                            </form>
                        </div>
                        <!--<ul class="add-to-links">
                            <li><img src="images/wish.png" alt=""><a href="#">Add to wishlist</a></li>
                        </ul>
                        <div class="social_buttons">
                            <h4>95 Items</h4>
                            <button type="button" class="btn1 btn1-default1 btn1-twitter" onclick="">
                                <i class="icon-twitter"></i> Tweet
                            </button>
                            <button type="button" class="btn1 btn1-default1 btn1-facebook" onclick="">
                                <i class="icon-facebook"></i> Share
                            </button>
                            <button type="button" class="btn1 btn1-default1 btn1-google" onclick="">
                                <i class="icon-google"></i> Google+
                            </button>
                            <button type="button" class="btn1 btn1-default1 btn1-pinterest" onclick="">
                                <i class="icon-pinterest"></i> Pinterest
                            </button>
                        </div>-->
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="col-md-3">
                    <div class="box-info-product">
                        <p class="price2">{{product.price}} (GTQ)</p>
                        <ul class="prosuct-qty">
                            <span>Quantity:</span>
                            <select id="quantity">
                                <option ng-repeat="i in getNumber(product.amount) track by $index" value="{{$index+1}}">{{$index+1}}</option>
                            </select>
                        </ul>
                        <button type="submit" name="Submit" ng-click="addToCart()" class="exclusive">
                            <span>Add to cart</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--<div class="row">
                <h4 class="m_11">Related Products in the same Category</h4>
                <div class="col-md-4 product1">
                    <img src="images/s1.jpg" class="img-responsive" alt=""/>
                    <div class="shop_desc"><a href="single.html">
                    </a>
                        <h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                        <p>Lorem ipsum consectetuer adipiscing </p>
                        <span class="reducedfrom">$66.00</span>
                        <span class="actual">$12.00</span><br>
                        <ul class="buttons">
                            <li class="cart"><a href="#">Add To Cart</a></li>
                            <li class="shop_btn"><a href="#">Read More</a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 product1">
                    <img src="images/s2.jpg" class="img-responsive" alt=""/>
                    <div class="shop_desc"><a href="single.html">
                    </a>
                        <h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                        <p>Lorem ipsum consectetuer adipiscing </p>
                        <span class="reducedfrom">$66.00</span>
                        <span class="actual">$12.00</span><br>
                        <ul class="buttons">
                            <li class="cart"><a href="#">Add To Cart</a></li>
                            <li class="shop_btn"><a href="#">Read More</a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="images/s3.jpg" class="img-responsive" alt=""/>
                    <div class="shop_desc"><a href="single.html">
                    </a>
                        <h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
                        <p>Lorem ipsum consectetuer adipiscing </p>
                        <span class="reducedfrom">$66.00</span>
                        <span class="actual">$12.00</span><br>
                        <ul class="buttons">
                            <li class="cart"><a href="#">Add To Cart</a></li>
                            <li class="shop_btn"><a href="#">Read More</a></li>
                            <div class="clear"></div>
                        </ul>
                    </div>
                </div>
            </div>-->
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <h1>Comments</h1>
            </div>
        </div>
        <div id="comments">
            <div class="row">
                <hr>
                <div class="col-md-3"></div>
                <div class="col-md-9 scrollable-window">
                    <div ng-repeat="comment in comments" ng-class="getCommentClass(comment.userrId, usr.userrId)">
                        <div ng-class="getCommentClassLeft(comment.userrId, usr.userrId)">
                            <img ng-class="getImageClass(comment.userrId, usr.userrId)" src="{{comment.userPhoto}}"  alt=""/><br>
                            <i ng-repeat="i in getNumber(comment.valorationId) track by $index" class="fas fa-star fa-xs yellow"></i>
                        </div>
                        <div class="col-md-4 box">
                            <h3>{{comment.title}} <span class="mail-style"> {{comment.userMail}}</span></h3>
                            <span class="comment-style">{{comment.description}}</span>
                            <span class="comment-date-style" >{{comment.publishdate}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="padding-top: 15px">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-3 to">
                            <input style="width: 100%; height: 100%" name="title" type="text" class="text" placeholder="Title"
                                   ng-model="comment.title" required>
                        </div>
                        <div class="col-md-3 to">
                            <label>Valoration</label>
                            <select style="width: 20%" id="valoration">
                                <option ng-repeat="i in getNumber(5) track by $index" value="{{$index+1}}">{{$index+1}}</option>
                            </select>
                        </div>
                        <div class="col-md-1"></div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 to">
                            <input style="width: 100%; height: 100%" name="comment" type="text" class="text" placeholder="Comment"
                                   ng-model="comment.description" required>
                        </div>
                        <div class="col-md-2">
                            <div class="form-submit">
                                <input style="width: 100%;" type="submit" ng-click="sendComment()" value="Send">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

