<audio id="boom" >
    <source src="./media/chord.mp3" type="audio/mpeg">
</audio>

<div class="main">
    <div class="shop_top">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-11">
                    <h1>Messages</h1>
                </div>
            </div>
            <div id="comments">
                <div class="row">
                    <hr>
                    <div class="col-md-1"></div>
                    <div id="messagesDiv" class="col-md-11 scrollable-window">
                        <div ng-repeat="message in messages" ng-class="getCommentClass(message.userrId, usr.userrId)">
                            <div ng-class="getCommentClassLeft(message.userrId, usr.userrId)">
                                <img ng-class="getImageClass(message.userrId, usr.userrId)" src="{{message.userPhoto}}"  alt=""/><br>
                            </div>
                            <div class="col-md-4 box">
                                <span class="mail-style"> {{message.userMail}}</span><br>
                                <span class="comment-style">{{message.description}}</span>
                                <span class="comment-date-style" >{{message.senddate}}</span>
                            </div>
                        </div>
                    </div>
                </div>

               
            </div>
        </div>

    </div>

