<div class="main">
    <div class="content-top">
        <h2>Product</h2>
        <p>Add new Product</p>
        <div class="close_but"><i class="close1"> </i></div>

        <form name="myForm" novalidate>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <input style="width: 90%;" name="name" type="text" class="text" placeholder="Name"
                           ng-model="product.name"
                           required>
                    <span class="alert" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                    <span ng-show="myForm.name.$error.required">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <span class="alert" ng-show="myForm.name.$dirty && myForm.name.$invalid">
                    <span ng-show="myForm.name.$error.required">Name is required.</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <input style="width: 90%;" name="description" type="text" class="text" placeholder="Description"
                           ng-model="product.description" required>
                    <span class="alert" ng-show="myForm.description.$dirty && myForm.description.$invalid">
                    <span ng-show="myForm.description.$error.required">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <span style="color:red" ng-show="myForm.description.$dirty && myForm.description.$invalid">
                    <span ng-show="myForm.description.$error.required">Description is required.</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <label style="width: 25%;">Category</label>
                    <select style="width: 58%;" id="category" name="category" ng-model="product.category.categoryId"  required>
                        <option ng-repeat="x in categories" ng-selected="x.genderId == user.gender.genderId" value="{{x.categoryId}}">{{x.description}}</option>
                    </select>
                    <span style="color:red" ng-show="myForm.category.$dirty && myForm.category.$invalid">
                    <span ng-show="myForm.category.$error.required">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <input style="width: 90%;" type="text" name="amount" class="text" placeholder="Amount"
                           ng-model="product.amount" required
                    >
                    <span class="alert" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
                    <span ng-show="myForm.amount.$error.required">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <span class="alert" ng-show="myForm.amount.$dirty && myForm.amount.$invalid">
                    <span ng-show="myForm.amount.$error.required">Amount required.</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <input style="width: 90%;" type="text" name="price" class="text" placeholder="Price" ng-model="product.price" required>
                    <span class="alert" ng-show="myForm.price.$dirty && myForm.price.$invalid">
                    <span ng-show="myForm.price.$error.required">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <span class="alert" ng-show="myForm.price.$dirty && myForm.price.$invalid">
                    <span ng-show="myForm.price.$error.required">Price required.</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <input style="width: 90%;" name="code" type="text" class="text" placeholder="Code"
                           ng-model="product.code" required>
                    <span class="alert" ng-show="myForm.code.$dirty && myForm.code.$invalid">
                    <span ng-show="myForm.code.$error.required">*</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>


            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 to">
                    <span class="alert" ng-show="myForm.code.$dirty && myForm.code.$invalid">
                    <span ng-show="myForm.code.$error.required">Code required.</span>
                    </span>
                </div>
                <div class="col-md-4"></div>
            </div>


            <div class="row">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <div class="form-submit" style="float: none;">
                        <input  style="width: 100%;" type="submit" ng-click="sendProduct()" value="Save">
                    </div>
                </div>
                <div class="col-md-5"></div>
            </div>


        </form>

    </div>
</div>
