<div class="main">
    <div class="content-top">
        <h2>Validate Account</h2>
        <h3>Account Status</h3>
        <div class="close_but"><i class="close1"> </i></div>

        <p ng-model="text">Your account has been successfully verified.</p>
    </div>
</div>
