<style>
    .actived{
        background-color: rgba(209, 239, 255, 0.51);
    }
    .deleted{
        background-color: #d43f3a;
    }
    .unconfirmed{
        background-color: #f0ad4e;
    }
</style>

<div class="main">
    <div class="content-top">
        <h2>Users</h2>
        <p>Users on the System</p>
        <div class="close_but"><i class="close1"> </i></div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <table id="user_table" class="table table-bordered table-hover dt-responsive" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>E-mail</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Permissions</th>
                        <th class="blank-cell"></th>
                        <th class="blank-cell"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="user in users track by user.userrId" ng-class="getClass(user.status)">
                        <td>{{ user.mail }}</td>
                        <td>{{ user.name }} {{user.lastname}}</td>
                        <td>{{ user.phone }}</td>
                        <td>{{ user.userTypeDesc }}</td>
                        <td>
                            <a class="btn pointer" ng-click="EditUser( user.userrId )">Edit</a>
                        </td>
                        <td>
                            <a class="btn pointer" ng-click="DeleteUser( user.userrId )">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
        <div class="row" style="padding-top: 20px">
            <div class="col-md-1"></div>
            <div class="col-md-2">
                <div class="form-submit">
                <input style="width: 100%;" type="submit" id="admin" ng-click="admin()" value="Add Admin">
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-submit">
                <input style="width: 100%;" type="submit" id="helpdesk" ng-click="helpdesk()" value="Add HelpDesk">
                </div>
            </div>
            <div class="col-md-7"></div>
        </div>

    </div>

</div>
